*.md @DrKJeff16
.gitignore @DrKJeff16
/.pre-commit-config.yaml @DrKJeff16
/ginit.vim @DrKJeff16
/init.lua @DrKJeff16
/lua/config/util.lua @DrKJeff16
/lua/plugin/_spec/* @DrKJeff16
/lua/plugin/cmp/* @DrKJeff16
/lua/plugin/colorschemes/* @DrKJeff16
/lua/plugin/md_preview/* @DrKJeff16
/lua/user @DrKJeff16
/scripts/* @DrKJeff16
/tools/* @DrKJeff16
/version.txt @DrKJeff16
neoconf.json @DrKJeff16
