/lazy-lock.json
/src
/repro.lua
/rtp.lua

/patches
*.patch
*.diff

*.rar
*.cpio
*.zip
*.7z
*.bz2
*.gz
*.xz
*.tar
*.Z

*.o
*.so
*.obj
*.out
*.i
*.s
*.a
*.as

.env

.mypy_cache/
.ropeproject/

*.list
*.log
*.bak
*.old
*.new

.luarc.json
.luarc.jsonc
luarc.json
luarc.jsonc

*.lock
