[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typing = "*"
typing-extensions = "*"
argparse = "*"
wheel = "*"
setuptools = "*"

[dev-packages]
pip = "*"
pynvim = "*"
mypy = "*"
mypy-extensions = "*"
isort = "*"
rope = "*"
python-lsp-server = {extras = ["all"], version = "*"}
pre-commit = "*"

[requires]
python_version = "3.12"
