[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typing = "*"
typing-extensions = "*"
argparse = "*"
wheel = "*"
setuptools = "*"
pynvim = "*"
pre-commit = "*"

[dev-packages]
pynvim = "*"
mypy = "*"
mypy-extensions = "*"
python-lsp-server = {extras = ["all"], version = "*"}
pylsp-mypy = "*"
pylsp-rope = "*"
python-lsp-isort = "*"
isort = "*"

[requires]
python_version = "3.12"
